body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.game-container {
    text-align: center;
}

canvas {
    border: 1px solid #000;
    background-color: #fff;
}

.scores {
    margin-bottom: 10px;
    font-size: 18px;
}

#score {
    margin-right: 20px;
}
